

@model Course


<form method="post">
    <div class="bg-secondary fw-bold p-5">
        <h2>Create page</h2>
        <div asp-validation-summary="All"></div>
        <!--Title-->
        <div class="row pb-2">
            <div class="col ">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>

        <!--Start and end date-->
        <div class="row pb-2">
            <div class="bg-secondary col">
                <label asp-for="StartDate"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="bg-secondary col">
                <label asp-for="EndDate"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>

        <!--Description-->
        <div class="row">
            <div class="col">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" style="max-height: 250px" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="row pt-3 m-2">
            <button type="submit" class="btn btn-primary col m-2">
                Add course
            </button>
            <a asp-controller="Courses" asp-action="" class="btn btn-secondary btn-outline-dark float-end col m-2"> Return </a>
        </div>

    </div>




</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}