@model Course


<form method="post">
    <input asp-for="Id" hidden />
    <div class="bg-secondary fw-bold p-5">
        <h2>Delete page</h2>
        <div asp-validation-summary="All"></div>
        <!--Title-->
        <div class="row pb-2">
            <div class="col ">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" disabled/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>

        <!--Start and end date-->
        <div class="row pb-2">
            <div class="bg-secondary col">
                <label asp-for="StartDate"></label>
                <input asp-for="StartDate" class="form-control" disabled />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="bg-secondary col">
                <label asp-for="EndDate"></label>
                <input asp-for="EndDate" class="form-control" disabled />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>

        <!--Description-->
        <div class="row">
            <div class="col">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" style="max-height: 250px" class="form-control" disabled></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="row pt-3 m-2">
            <button class="btn btn-danger col m-2" type="submit">
                <i class="bi bi-trash3-fill"></i>Delete course
            </button>
            <a asp-controller="Courses" asp-action="" class="btn btn-secondary btn-outline-dark float-end col m-2"> Return </a>
        </div>
    </div>
</form>